<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) %cyan([%thread]) %highlight(%-5level) %yellow(%-50logger{40}) - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-50logger{40} - %msg%n</Pattern>
    </encoder>
      
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_DIR}/demoapp_%d{yyyyMMdd}_%i.log</fileNamePattern>
        <maxFileSize>1MB</maxFileSize>
        <maxHistory>30</maxHistory>
        <totalSizeCap>10MB</totalSizeCap>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
  </appender>

  <root level="debug">
    <appender-ref ref="Console"/>
    <appender-ref ref="RollingFile" />
  </root>
  
</configuration>